<!--hw/templates/hw/home.html-->

<html>
    <head>
        <title>Hello, world!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero neque, quos eius exercitationem rem qui aut quia doloremque quisquam inventore veritatis voluptas, praesentium quam, tempore labore ipsam beatae perspiciatis voluptate.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus non labore quae provident obcaecati ad consectetur nesciunt sapiente quaerat natus, similique assumenda quod mollitia sunt adipisci nisi repellendus officiis harum!</p>
        
        <footer>
            The current time is {{ time }}. <br>
            This page has been brought to you by the letters {{ letter1 }} and {{ letter2 }}, and the number {{ number }}.
        </footer>
    </body>